*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  
}

body{
    background-color:rgb(180, 178, 176);
    overflow: hidden;
}

ul{
    display: flex;
    gap: 100px;
    list-style: none;
    margin-left: 50px;
}


.menu{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-bottom:#81a5c4 1px solid;
}


li{
    font-size: 12px;
    font-weight: 400;
    color: #8f12e2;
    cursor: pointer;
    
}

a{
    text-decoration: none;
}

.caixa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px;
}

.botao{
    background-color: #0071e3;
    color: #ffff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.escolha{
    font-size: 16px;
    color: rgb(87, 85, 85);
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 26px;
}



.logo{
    height: 35px;
}


.titulo{
    
    margin-left:  140%;
    margin-top: 20%;
    
}

.Titulo2{
    color: #8f12e2;
    margin-top: 10%;
    margin-left:  104%;
    margin-bottom: 7%;
    width: 200%;
    font-size: 4vh;
    
  }


.paragrafo{
    font-size: 15px;
    margin-bottom: 25px;
}



.h3{
    font-size: 20px;
    color: rgb(129, 0, 235);
    font-weight: 100;
    margin-bottom: 30px;
}

@media only screen and (max-width: 844px) {

    .menu {
        width: 100%;
       gap: 9vh;
     }

  .titulo{
      margin-top: 70%;
      margin-left: 30%;
      margin-bottom: 7%;
  }

  .Titulo2{
    color: #8f12e2;
    margin-left: 2%;
    margin-bottom: 7%;
    width: 200%;
    font-size: 2vh;
    
  }

  .paragrafo{
        width: 130%;
        font-size: 12px;
      }
  
}